APP_NAME=ZylkerKart
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080

SESSION_DRIVER=file
SESSION_LIFETIME=120

# Backend service URLs (Docker internal)
PRODUCT_SERVICE_URL=http://product-service:8081
ORDER_SERVICE_URL=http://order-service:8082
SEARCH_SERVICE_URL=http://search-service:8083
PAYMENT_SERVICE_URL=http://payment-service:8084
AUTH_SERVICE_URL=http://auth-service:8085

# Optional: Site24x7 RUM
SITE24X7_RUM_KEY=
